body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

#main {
  padding: 0 2rem;
}

#img-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#img-caption {
  width: 70%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

figcaption {
  text-align: center;
}

@media (max-width: 600px) {
  img {
    width: 100%;
    max-width: 100%;
    box-shadow: 2px 2px 5px grey;
  }
}
